<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::nav"></header>

<main class="index-main">
    <div class="site-header">
        <h1 th:text="#{index_header}">Best pizzas in the world</h1>
        <a th:text="#{index_header_button}" href="/menu" class="btn btn-success">Go to menu</a>
    </div>
</main>

<footer th:replace="fragments/commons::footer"></footer>

<script th:replace="fragments/commons::script-bootstrap-bundle"></script>

</body>

</html>

