<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:form="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::nav"></header>

<main class="wood-background menu-main">

    <div class="container">
        <div class="row">
            <!--dynamic product with thymeleaf-->
            <div class="col-4" th:each="p : ${allProducts}">
                <div id="menu-card" class="card" th:object="${p}">
                    <img th:src="${p.pictureURL}"
                         id="menu-card-img"
                         class="card-img-top"
                         alt="Pizza Image">
                    <div class="card-body" id="card-body">
                        <h5 class="card-title" th:text="${p.name}"></h5>
                        <p class="card-text" th:text="${p.description}"></p>
                        <p id="calories" th:text="'Cal/100g: ' + ${p.caloriesPer100}">out of stock</p>
                        <p id="grams" th:text="'Grams: ' + ${p.grams} + 'g.'">out of stock</p>
                        <p id="price" th:text="'Price: ' + ${#numbers.formatDecimal(p.price,1,2,'POINT')} + '$'">out of stock</p>
                        <a sec:authorize="isAuthenticated()" th:href="@{'/menu/' + ${#strings.toLowerCase(p.productTypeEnum)} + '/' + ${p.id}}" class="btn btn-success">Add to cart</a>
                        <a sec:authorize="hasRole('MANAGER')" th:href="@{'~/product/add/ingredients/' + ${p.id}}" id="update-ingredient-button" class=" btn btn-primary">Update Ingredient</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<footer th:replace="fragments/commons::footer"></footer>

<script th:replace="fragments/commons::script-bootstrap-bundle"></script>

</body>

</html>

